<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Artist</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>New Artist</h1>
    <!-- This creates a form that will submit to POST /books -->
    <form action="/artists" method="post">
      <p>
        <!-- These `label` tags are important for accessibility -->
        <label for="title">Name</label>

        <!-- The `type` attribute says what kind of field this is -->
        <!-- The `name` attribute says what parameter name should be sent to the server -->
        <!-- The `id` field here is used to link it to the `for` tag in the label -->
        <input type="text" name="name" id="name">
      </p>

      <p>
        <!-- These `label` tags are important for accessibility -->
        <label for="title">Genre</label>

        <!-- The `type` attribute says what kind of field this is -->
        <!-- The `name` attribute says what parameter name should be sent to the server -->
        <!-- The `id` field here is used to link it to the `for` tag in the label -->
        <input type="text" name="genre" id="genre">
      </p>

      <p>
        <input type="submit" value="Add artist">
      </p>
    </form>
  </body>
</html>